.MuiButton-root {
    text-transform: none !important;
    color: var(--primaryDark) !important;
    border: 1px solid var(--primaryDark) !important;
    padding: 5px 10px !important;
    cursor: pointer !important;
}

.dividerItem{
    background-color:var(--primaryDark) !important;
    opacity: 0.8 !important;
    width: 95%;
    margin: 2.5% !important;
}